ion-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #d7d4d8;
  }

.col {
    display: flex;
    background-color: #fcf9f3;
    color: #73777c;
    text-align: left;
    align-items: center;
    gap: 0,5rem;
    border: 1px solid transparent;
    border-radius: 15px; 
}
.row{
    background-color: #d7d4d8;
}
.forgot {
    display: flex;
    width: 222px;
    height: 33.3px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #4461f2;
    font-weight: 600;
  }
  .inputForgot {
    display: flex;
    background-color: #fcf9f3;
    color: #73777e;
    text-align: left;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid transparent;
    border-radius: 15px;
  }
  .ForgotButtonContainer {
    display: flex;
    justify-content: center;
  }
  ion-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: none;
  }
  ion-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }