<ion-menu contentId="main-content">
  <ion-header class="ion-no-border header">
    <ion-toolbar class="toolbarContent">
      <ion-title slot="start" class="menuContent">Olá, {{ user }}</ion-title>
      <ion-buttons slot="end">
        <ion-button class="menuContent" (click)="logout()" size="small">
          Sair
          <ion-icon slot="end" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-item>
      <ion-icon class="menuContent" id="theme-icon" name="moon-outline"></ion-icon>
      <ion-toggle [(ngModel)]="isDarkMode" (ionChange)="SwitchMenuColors(isDarkMode)"></ion-toggle>
    </ion-item>
  </ion-content>
</ion-menu>