<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Quiz Senac</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>

  <!-- <ion-textarea
  fill="solid"
  label="Email"
  placeholder="email@gmail.com"
  labelPlacement="floating"
  errorText="Invalid email"
  ngModel
  email
></ion-textarea> -->
  <ion-list>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Login" placeholder="email@gmail.com">
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-input type="password" labelPlacement="floating" label="Senha" placeholder="123456789"> 
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>
  <ion-button color="warning"  (click)="login()">Login</ion-button>
  <ion-button color="warning"  (click)="anonimous()">Anonimo</ion-button>
</ion-list>
<ion-button expand="block" (click)="forgotPassword()">Esqueci minha senha</ion-button>
<ion-content>
</ion-content>

<ion-footer> 
  <p>Rodapé</p>
</ion-footer>