<ion-header>
  <ion-toolbar>
    <ion-title color="new">EstudaQuiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="titleQuiz">
          <ion-title class="title" color="new">Teste Vocacional</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="quizButtonContainer">
        <ion-buttons>
          <ion-button class="quiz" (click)="anonimous()">Iniciar Quiz</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="titleQuiz">
          <ion-title class="title" color="new">Teste de Aprendizado</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="quizButtonContainer">
        <ion-buttons>
          <ion-button class="quiz" (click)="anonimous()">Iniciar Quiz</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="titleQuiz">
          <ion-title class="title" color="new">Teste de Inglês</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="quizButtonContainer">
        <ion-buttons>
          <ion-button class="quiz" (click)="anonimous()">Iniciar Quiz</ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
